/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #d9cfcc;
}


/* Changing the background color for the navigation bar */

.navbar {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color:#ffffff;
}
navbar{
	display: flex;
	align-items: center;
	padding:20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;	
}
a{
	text-decoration: none;
	color: #555
}
p{ 
	color: #555;
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
